<template name="md_modal">
    <div class="md-modal">

        <div class="modal" id="{{ id }}" data-bs-backdrop="{{ closeBackdrop }}" data-bs-keyboard="{{ closeKeyboard }}" tabindex="-1">
            <div class="modal-dialog {{ classes }}">
                <div class="modal-content {{ classesContent }} {{ contentClassesArray }}">

                    <div class="modal-header {{ classesHeader }}">
                        <h5 class="modal-title">{{ title }}</h5>
                        {{#if closeHeader }}
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        {{/if}}
                    </div>

                    <div class="modal-body {{ classesBody }}">
                        {{> Template.dynamic template=(body) data=(parms) }}
                    </div>

                    <div class="modal-footer {{ classesFooter }}">
                        {{#if footer }}
                            {{> Template.dynamic template=(footer) data=(parms) }}
                        {{else}}
                            {{#each btn in buttons }}
                                {{#if btnHasHtml btn }}
                                    {{{ btnHtml btn }}}
                                {{else}}
                                    <button type="{{ btnType btn }}" class="btn {{ btnClasses btn }} md-btn" data-md-btn-id="{{ btn.id }}" {{ btnDisabled btn }} name="{{ btnName btn }}">
                                        {{ btnLabel btn }}
                                    </button>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>

                </div>
            </div>
            <div class="md-hidden"></div>
        </div>

    </div>
</template>
