/*
 * pwix:modal/src/client/components/md_modal/md_modal.less
 */

@import "{pwix:ui-layout}/exports/stylesheets.less";

.md-modal {

    .modal-content.ui-resizable {
        overflow: hidden;
    }

    .modal-body {
        min-height: 0;
    }

    // define a special xxl size for wide screens
    @media screen and ( min-width: @ui-xs-width ){
        .modal .modal-dialog.modal-xxl {
            --bs-modal-width: 280px;
        }
    }
    @media screen and ( min-width: @ui-sm-width ){
        .modal .modal-dialog.modal-xxl {
            --bs-modal-width: 330px;
        }
    }
    @media screen and ( min-width: @ui-md-width ){
        .modal .modal-dialog.modal-xxl {
            --bs-modal-width: 700px;
        }
    }
    @media screen and ( min-width: @ui-lg-width ){
        .modal .modal-dialog.modal-xxl {
            --bs-modal-width: 920px;
        }
    }
    @media screen and ( min-width: 1500px ){
        .modal .modal-dialog.modal-xxl {
            --bs-modal-width: 1350px;
        }
    }
    @media screen and ( min-width: @ui-xl-width ){
        .modal .modal-dialog.modal-xxl {
            --bs-modal-width: 1750px;
        }
    }
}
